/* ===== PRELOADER ===== */

.loader{
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;

background:#000;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

z-index:99999;

transition:1.5s;
}

.loader.hide{
opacity:0;
visibility:hidden;
}

.loader-rings{
width:120px;
height:120px;

border:2px solid rgba(255,255,255,.15);
border-radius:50%;

position:relative;

animation:rotate 10s linear infinite;
}

.loader-rings::before{

content:"";

position:absolute;

top:15px;
left:15px;

right:15px;
bottom:15px;

border-radius:50%;
border:2px solid rgba(255,255,255,.4);

}

.loader-rings::after{

content:"";

position:absolute;

top:35px;
left:35px;

right:35px;
bottom:35px;

border-radius:50%;
border:2px solid white;

}

.loader-text{

margin-top:40px;

font-size:40px;
font-weight:300;

letter-spacing:4px;

text-align:center;

}

.loader-date{

font-size:18px;
opacity:.6;

margin-top:20px;

letter-spacing:3px;

}

@keyframes rotate{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}