.particle{

position:fixed;

width:4px;
height:4px;

background:white;

border-radius:50%;

opacity:.15;

pointer-events:none;

animation:float 20s linear infinite;

}

@keyframes float{

0%{

transform:
translateY(100vh)
translateX(0);

}

100%{

transform:
translateY(-100vh)
translateX(100px);

}

}